ACTION=="add", SUBSYSTEM=="net", KERNEL=="wl*", ATTR{power/control}=="auto", ATTR{power/control}="on"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wl*", RUN+="/usr/bin/iw dev $name set power_save off"
